* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) !important;
  height: 48px;
}

nav a {
  padding: 4px;
  position: absolute;
  right: 24px;
  text-decoration: none;
  color: black;
}

nav a:visited {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

h3 {
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
}

.container {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 24px;
}

.inCart {
  margin-left: 8px;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.01);
}

.mark {
  text-decoration: underline;
}
