.items {
  border: 1px solid black;
  margin: 2px;
  padding: 20px;
}

.item {
  height: 256px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgb(229, 229, 229) 0px 0px 0px 0px inset,
    rgb(229, 229, 229) 0px 0px 0px 0px inset,
    rgb(229, 229, 229) 0px -1px 0px 0px inset,
    rgb(229, 229, 229) 0px 0px 0px 0px inset;
}

.item__image {
  margin-right: 24px;
}

.item__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item__content_info > *{
  margin: 0px;
  padding: 4px;
}


.resumen {
  border: 1px solid black;
  margin: 2px;
  padding: 20px;
}

.resumen__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.resumen__content__info {
  width: 100%;
}

.resumen__content .resumen__content__info > .resumen__content__info_p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.resumen__content__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.amount {
  font-weight: bolder;
  padding: 6px;
}

.delete_button{
  margin: 4px;
}