.items {
  margin: 2px;
  padding: 10px;
}

.item {
  height: 256px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgb(229, 229, 229) 0px 0px 0px 0px inset,
    rgb(229, 229, 229) 0px 0px 0px 0px inset,
    rgb(229, 229, 229) 0px -1px 0px 0px inset,
    rgb(229, 229, 229) 0px 0px 0px 0px inset;
}

.item__image {
  margin-right: 12px;
}

.item__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.item__content_actions {
  display: flex;
  flex-direction: column;
}

.price {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px;
  font-size: medium;
  font-weight: bold;
}
.item__content_info > * {
  margin: 0px;
  padding: 4px;
}

.resumen {
  margin: 2px;
  padding: 20px;
}

.resumen__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.resumen__content__info {
  width: 100%;
}

.resumen__content .resumen__content__info > .resumen__content__info_p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.resumen__content__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.amount {
  font-weight: bolder;
  padding: 6px;
}

.delete_button {
  margin: 14px;
}

@media screen and (max-width: 600px) {
  .name {
    max-width: 120px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding-top: 120px;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: large;
  }

  .items {
    min-width: 720px;
  }
  .item {
    justify-content: flex-start;
    height: 190px;
  }
}
