* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
}

nav a {
  padding: 4px;
  position: absolute;
  right: 24px;
  text-decoration: none;
  color: black;
}

nav a:visited {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) !important;
  height: 48px;
}

img {
  width: 150px;
  height: 150px;
}

/* classes */

.delete_button {
  display: block;
  text-align: center;
}
