.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 270px;
  background: #eeeeee;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  margin: 8px;
}
.card .image {
  width: inherit;
  min-height: 270px;
  object-fit: cover;
  padding: 4px;
}

.card .image:hover {
  padding: 1px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1); */
}

.card .title {
  font-size: 27px;
  margin-top: 2px;
  color: #6b8b7f;
  margin-bottom: 16px;
}

.card .description {
  color: #8d93aa;
  margin: 0px;
}

.card div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card div p {
  font-size: large;
  line-height: 16px;
}
#price {
  font-weight: bold;

  color: #35443e;
}
/* vertical card */
